*{
    font-family: 'Franklin Gothic Medium',  sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* overflow: hidden; */
}

body{
    background-color: rgb(245, 245, 234);
}

/* Typewriter text */
#hero h3 {
  font-size: 2.8rem;
  margin: 15px 0;
  color: white;
  text-shadow: -2px -2px 0 black,
    2px -2px 0 black,
    -2px 2px 0 black,
    2px 2px 0 black; 
  height: 2.2rem; /* prevents layout jump */
}

#typewriter::after {
  content: "|";
  margin-left: 5px;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

/* loader  */

/* Hide content until loader finishes */
#content {
  display: none;
}

/* Loader full screen white background */
#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffff; /* pure white background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* always above everything */
  transition: opacity 0.8s ease; /* fade out */
}

/* Loader image pulsing */
.loader-image {
  width: 120px;  /* adjust to your logo size */
  height: auto;
  animation: pulse 1.5s infinite ease-in-out;
}

/* Pulse animation */
@keyframes pulse {
  0%   { transform: scale(1); opacity: 1; }
  50%  { transform: scale(1.2); opacity: 0.7; }
  100% { transform: scale(1); opacity: 1; }
}


/* nav bar  */

nav{
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    background-color: white;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    /* transition: background-color 0.3s, color 0.3s; */
}

/* nav h1 a{
    font-family: "Playwrite AU NSW", cursive;
    color: black;
    font-size: 30px;
    text-decoration: none;
} */

nav a img{
    width: 25%;
    border-radius: 1500px;
}

nav a img  {
  animation: pulse 2s ease-in-out infinite;
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1.1);
  }
}

nav ul li{
    display: inline;
    padding: 7px;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

nav ul li a:hover{
    text-decoration: underline;
}

nav h1 a:hover{
    transform: scale(1.1);
    transition: transform 1s;
    color: blue;
}



/* Dark mode */
body.dark-mode {
  background-color: black;
  color: #ffffff;
}

body.dark-mode nav{
    background-color: black;
}

body.dark-mode nav h1 a{
    color: white;
}

body.dark-mode nav ul li a{
    color: white;
}

body.dark-mode nav h1 a:hover{
    transform: scale(1.1);
    transition: transform 1s;
    color: yellow;
}

body.dark-mode .hamburger {
    color: #ffffff;
}

#darkModeToggle {
    padding: 5px 11px;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    background-color: black;
    transition: all 0.3;
}

#darkModeToggle:hover {
    transform: scale(1.1);
    transition: transform 1s;
}

body.dark-mode #darkModeToggle{
    background-color: white;
}




/* darkmode edit for all text  */

body.dark-mode .sec2 h1{
    color: white;
}

body.dark-mode .sec2 .holi h2{
    color: black;
}

body.dark-mode .sec2 .holi p{
    color: black;
}

body.dark-mode .sec2 .vis h2{
    color: black;
}

body.dark-mode .sec2 .vis p{
    color: black;
}

body.dark-mode .sec4  .special h2{
    color: black;
}

body.dark-mode .sec4  .special h3{
    color: black;
}

body.dark-mode .sec4  .special h4{
    color: black;
}

body.dark-mode .sec4  .special2 h2{
    color: black;
}

body.dark-mode .sec4  .special2 h3{
    color: black;
}

body.dark-mode .sec4  .special2 h4{
    color: black;
}


/* hamburger */

.hamburger{
    display: none;
}

/* animation  */

/* Slide from right */
.animate-right {
  opacity: 0;
  transform: translateX(25px);
  transition: opacity 1.5s ease-out, transform 1.5s ease-out;
}
.animate-right.show {
  opacity: 1;
  transform: translateX(0);
}

/* Slide from left */
.animate-left {
  opacity: 0;
  transform: translateX(-25px);
  transition: opacity 1.5s ease-out, transform 1.5s ease-out;
}
.animate-left.show {
  opacity: 1;
  transform: translateX(0);
}

/* Flip from top */
.animate-flip-top {
  opacity: 0;
  transform: rotateX(-90deg);
  transition: opacity 1.5s ease-out, transform 1.5s ease-out;
  transform-origin: top;
}
.animate-flip-top.show {
  opacity: 1;
  transform: rotateX(0);
}

/* Flip from bottom */
.animate-flip-bottom {
  opacity: 0;
  transform: rotateX(90deg);
  transition: opacity 1.5s ease-out, transform 1.5s ease-out;
  transform-origin: bottom;
}
.animate-flip-bottom.show {
  opacity: 1;
  transform: rotateX(0);
}


/* section experience  */

.sec1{
    background-image: url("images/Back .JPG");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 130vh;
    margin-top: 90px;
    padding: 10px 30px;
    align-items:center;
    text-align: center;
}

/* .sec1 .okay {
	-webkit-animation: flip-scale-2-hor-bottom 0.5s linear both;
	animation: flip-scale-2-hor-bottom 0.5s linear both;
} */


.sec1 h2 {
    font-size: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    margin-bottom: 30px;
    margin-top: 100px;
    color: white;
    text-shadow: -2px -2px 0 black,
    2px -2px 0 black,
    -2px 2px 0 black,
    2px 2px 0 black; 
}

.sec1 h1 {
    font-size: 80px;
    font-family:Arial, Helvetica, sans-serif;
    margin-top: 100px;
    color: yellow;
    z-index: 1;
    text-shadow: -2px -2px 0 black,
    2px -2px 0 black,
    -2px 2px 0 black,
    2px 2px 0 black;              
}

.sec1 p {
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 50px;
    color: white;
    text-shadow: -2px -2px 0 black,
    2px -2px 0 black,
    -2px 2px 0 black,
    2px 2px 0 black;
}

.sec1 button{
    padding: 30px 40px;
    background-color: black;
    border: none;
    border-radius: 20px;
    margin-top: 70px;
}

.sec1 button a{
    color: greenyellow;
    text-decoration: none;
    font-family: "Playwrite AU NSW", cursive;
    font-size: 20px;
}

.sec1 button:hover{
    transform: scale(1.1);
    transition: transform 1s;
    background-color: darkgreen;
    color: black;
}

/* section 2 Professional Services */

.sec2 {
    padding: 10px 30px;
    text-align: center;
}

.sec2 h1{
    font-size: 60px;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT',  sans-serif;
    margin-top: 100px;
    font-style: italic;
}

.sec2 p{
    font-size: 15px;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 20px;
}

.sec2 img{
    width: 80%;
    aspect-ratio: 4 / 3;
    object-fit: cover;
    margin-top: 40px;
    border-radius: 30px;
}

.sec2 img:hover{
    transform: scale(1.1); 
    transition: transform 1s;
    border: 0.1px solid red; 
}

.sec2 button:hover{
    transform: scale(1.1);
    transition: transform 1s;
    background-color: darkgreen;
    color: black;
}

.sec2 .holi{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}

.sec2 .holiday {
    background-color: white;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
    height: 60vh;
    border-radius: 40px;
    width: 30%;
}

.sec2 .ticket {
    background-color: white;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
    height: 60vh;
    border-radius: 40px;
    width: 30%;
}

.sec2 .insurance {
    background-color: white;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
    height: 60vh;
    border-radius: 40px;
    width: 30%;
}



.sec2 button{
    padding: 5px 20px;
    background-color: black;
    border: none;
    border-radius: 8px;
    margin-top: 10px;
}

.sec2 button a{
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 16px;
}

.sec2 .holiday h2{
    font-family: sans-serif;
    margin-top: 10px;
}

.sec2 .holiday p{
    font-family: sans-serif;
    margin-top: 5px;
}

.sec2 .ticket h2{
    font-family: sans-serif;
    margin-top: 10px;
}

.sec2 .ticket p{
    font-family: sans-serif;
    margin-top: 5px;
}

.sec2 .insurance h2{
    font-family: sans-serif;
    margin-top: 10px;
}

.sec2 .insurance p{
    font-family: sans-serif;
    margin-top: 5px;
}

/* second div  */

.sec2 .vis{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.sec2 .visa {
    background-color: white;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
    height: 60vh;
    border-radius: 40px;
    width: 30%;
}

.sec2 .hotel {
    background-color: white;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
    height: 60vh;
    border-radius: 40px;
    width: 30%;
}

.sec2 .con {
    background-color: white;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
    height: 60vh;
    border-radius: 40px;
    width: 30%;
}

.sec2 .visa h2{
    font-family: sans-serif;
    margin-top: 10px;
}

.sec2 .visa p{
    font-family: sans-serif;
    margin-top: 5px;
}

.sec2 .hotel h2{
    font-family: sans-serif;
    margin-top: 10px;
}

.sec2 .hotel p{
    font-family: sans-serif;
    margin-top: 5px;
}

.sec2 .con h2{
    font-family: sans-serif;
    margin-top: 10px;
}

.sec2 .con p{
    font-family: sans-serif;
    margin-top: 5px;
}

/* section 3 tour Packages  */

.sec3{
    padding: 10px 30px ;
    margin-top: 90px;
    align-items: center;
    text-align: center;
}

.sec3 #rate:hover{
    transform: scale(1.1);
    transition: transform 1s;
    background-color: darkred;
}

.sec3 #rate2:hover{
    transform: scale(1.1);
    transition: transform 1s;
    background-color: darkred;
}

.sec3 button:hover{
    transform: scale(1.1);
    transition: transform 1s;
}

.sec3 button a:hover{
    color: blue;
}

.sec3 h6{
    font-size: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT',  sans-serif;
    font-style: italic;
}

.sec3 .pack{
    display: flex;
    justify-content: space-around;
}

.sec3 #rate{
    background-color:darkgreen;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    margin-top: 30px;
    height: 50vh;
    width: 30%;
    border-radius: 30px;
}

.sec3 #rate2{
    background-color:rgb(160, 98, 17);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    margin-top: 30px;
    height: 50vh;
    width: 30%;
    border-radius: 30px;
}

.sec3 #rate h1{
    color: whitesmoke;
    margin-top: 18px;
    font-size: 38px;
    font-family: "Playwrite AU NSW", cursive;
}

.sec3 #rate h2{
    color: whitesmoke;
    margin-top: 10px;
    font-size: 30px;
    font-style: italic;
}

.sec3 #rate h3{
    color: whitesmoke;
    margin-top: 10px;
    font-size: 20px;
    font-family: "Playwrite AU NSW", cursive;
}

.sec3 #rate h4{
    color: whitesmoke;
    margin-top: 10px;
    font-size: 15px;
    font-family: "Playwrite AU NSW", cursive;
}

.sec3 #rate p{
    color: yellow;
    margin-top: 10px;
    font-size: 15px;
    font-family: "Playwrite AU NSW", cursive;
}

.sec3 #rate2 h1{
    color: whitesmoke;
    margin-top: 10px;
    font-size: 38px;
    font-family: "Playwrite AU NSW", cursive;
}

.sec3 #rate2 h2{
    color: whitesmoke;
    margin-top: 10px;
    font-size: 30px;
    font-style: italic;
}

.sec3 #rate2 h3{
    color: whitesmoke;
    margin-top: 10px;
    font-size: 20px;
    font-family: "Playwrite AU NSW", cursive;
}

.sec3 #rate2 h4{
    color: whitesmoke;
    margin-top: 10px;
    font-size: 15px;
    font-family: "Playwrite AU NSW", cursive;
}

.sec3 #rate2 p{
    color: yellow;
    margin-top: 10px;
    font-size: 15px;
    font-family: "Playwrite AU NSW", cursive;
}

.fa-star{
    color: yellow;
}

.sec3 button{
    padding:8px 30px;
    border-radius: 15px;
    margin-top: 10px;
    border: none;
}

.sec3 button a{
    color: black;
    font-size: 18px;
    text-decoration: none;
    font-style: italic;
}

/* special offer section  */

.sec4{
    padding: 10px 30px;
    margin-top: 100px;
    text-align: center;
}
.sec4 h1{
    font-family: 'Gill Sans', 'Gill Sans MT',  sans-serif;
    font-style: italic;
    font-size: 40px;
}

.sec4 p{
    font-family: 'Times New Roman', Times, serif;
    margin-top: 30px;
}

.sec4 .special{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 30px; 
    text-align: center;
}

.sec4 .special2{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 30px;
    text-align: center;
}

.sec4 img{
    width: 80%;
    filter: brightness(0.6) contrast(1.2) blur(1px);
    border-radius: 15px;
    margin-top: 22px;
}

.sec4 .mal {
    background-color:beige;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
    height: 63vh;
    border-radius: 40px;
    width: 30%;
}

.sec4 h2{
    margin-top: 10px;
    font-style: italic;
}

.sec4 h3 {
    font-family: 'Times New Roman', Times, serif;
    margin-top: 5px;
}

.sec4 h4 {
    margin-top: 5px;
}

.sec4 h4 a {
    text-decoration: line-through;
    color: red;
}

.sec4 button {
    padding: 5px 20px;
    margin-top: 8px;
    border: none;
    border-radius: 10px;
    background-color: blue;
}

.sec4 button a{
    text-decoration: none;
    color: white;
    font-size: 15px;
}

.sec4 .mal:hover{
    transform: scale(1.1);
    transition: transform 1s;
    background-color:whitesmoke;
    border: 0.1px solid red;
}

/* testimony secion  */

#testimonials{
    text-align: center;
    padding: 50px 20px;
    /* background: #f9f9f9; */
    position: relative;

}

.testimonial-container{
    max-width: 60%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    margin-top: 40px;
}

.testimonial{
    display: none;
    padding: 20px;
    /* background: #fff; */
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.testimonial.active {
    display: block;
    animation: fade 0.8s;
}

@keyframes fade {
  from {opacity: 0;}
  to {opacity: 1;}
}

#testimonials button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #25d366;
  color: #fff;
  border: none;
  font-size: 2rem;
  padding: 3px 18px;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s;
}

#testimonials button:hover {
  background: #1ebe57;
}

.prev { left: 200px; }
.next { right: 200px; }

/* .sec5 {
    padding: 10px 30px;
    margin-top: 100px;
    align-items: center;
    text-align: center;
} */

.sec5 h1{
    font-size: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT',  sans-serif;
    font-style: italic;
}

.testimony {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sec5 img{
    width: 70%;
    border-radius: 20px;
    margin-top: 40px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
}


.sec5 img:hover{
    transform: scale(1.1);
    transition: transform 1s;
    background-color:whitesmoke;
    border: 0.1px solid red;
}

.sec5 h2{
    font-size: 30px;
    margin-top: 20px;
}

.sec5 h3{
    font-size: 15px;
    margin-top: 10px;
    font-family: 'Times New Roman', Times, serif;
}

.sec5 h2 .fa-star{
    color: black;
    font-size: 10px;
    margin-top: 3px;
}

/* faq section */

#faq {
  max-width: 700px;
  margin: 50px auto;
  padding: 20px;
}

.faq-item {
  margin-bottom: 15px;
  border-bottom: 1px solid #ddd;
}

.faq-question {
  width: 100%;
  text-align: left;
  padding: 15px;
  font-size: 1.1rem;
  border: none;
  background: #f1f1f1;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq-question span {
  font-weight: bold;
  transition: transform 0.3s;
}

.faq-answer {
  display: none;
  padding: 0 15px 15px;
  color: #444;
}

.faq-item.active .faq-answer {
  display: block;
}

.faq-item.active .faq-question span {
  transform: rotate(45deg); /* changes + into x */
}

footer{
    padding: 10px 30px;
    background-color: black;
    align-items: center;
    text-align: center;
}

footer h1{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
}

footer p{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    margin-top: 10px;
}

/* back to top button  */
/* Back-to-top button */
#backToTop {
  display: none; /* Hidden by default */
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 100;
  border: none;
  outline: none;
  background-color: rgba(51, 51, 51, 0.8); /* semi-transparent dark */
  padding: 12px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

/* Arrow inside the button */
#backToTop svg {
  fill: white;
  transition: transform 0.3s, fill 0.3s;
}

/* Hover effect */
#backToTop:hover {
  background-color: rgba(85, 85, 85, 0.9);
  transform: translateY(-5px); /* slight jump on hover */
}

/* Dark/Light mode toggle example */
body.light-mode #backToTop {
  background-color: rgba(240, 240, 240, 0.8);
}

body.light-mode #backToTop svg {
  fill: #333;
}

/* Floating WhatsApp Button */
.whatsapp-float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 100px;
  right: 30px;
  /* background-color: green; */
  border-radius: 50%;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  transition: transform 0.3s ease;
}

.whatsapp-float:hover {
  transform: scale(1.1);
}

.whatsapp-float img {
  width: 35px;
  height: 35px;
}








/* media view  */

@media screen and (max-width:768px){

    /* Typewriter text */
    #hero h3 {
        font-size: 25px;
        margin-top: 35px;
         margin-bottom: -45px;
        color: white;
        text-shadow: -2px -2px 0 black,
        2px -2px 0 black,
        -2px 2px 0 black,
        2px 2px 0 black; 
        height: 2.2rem; /* prevents layout jump */
    }

    nav a img{
    width: 35%;
    }
    nav ul{
        display: none;
        /* hambuger design */
        flex-direction: column;
        background: rgb(73, 65, 65);
        position: absolute;
        top: 60px;
        right: 20px;
        width: 200px;
        padding: 10px 15px;
        border-radius: 10px;
    }

    /* hambuger */

    .nav-links.active{
        display: flex;
    }

    .hamburger{
        display: block;
    }

    /* end of .hamburger */


    nav ul li a{
        color: white;
    }

    
    nav h1 a{
        font-size: 20px;
    }

    #darkModeToggle{
        margin-right: 15px;
        margin-left: auto;
        /* position: fixed; */
    }

    

    

    


    /* section experience */

    .sec1{
        height: 55vh;
        width: 100%;
        /* padding: 20px; */
        /* text-align: center; */
    }

    .sec1 h2 {
        font-size: 20px;
        margin-top: 30px;
        margin-bottom: -80px;
    }

    .sec1 h1 {
        font-size: 30px;
        margin-bottom: -30px;
    }

    .sec1 p {
        font-size: 15px;
        margin-bottom: 30px;
        margin-bottom: -5px;
        text-shadow: -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
    }

    .sec1 button {
        padding: 10px 20px;
        margin-top: 15px;
    }

    .sec1 button a {
        font-size: 10px;
    }

    /* section 2 Professional Services */

    .sec2 h1 {
        font-size: 30px;
    }

    .sec2 h2 {
        font-size: 15px;
    }

    .sec2 p{
        font-size: 20px;
    }

    .sec2 .holi{
        flex-direction: column;
        margin-top: 10px;
    }

    .sec2 .vis{
        flex-direction: column;
    }

    .sec2 .holiday{
        width: 100%;
        height: 50vh;
        border-radius: 15px;
        margin-top: 35px;
    }

    .sec2 .ticket{
        width: 100%;
        height: 53vh;
        border-radius: 15px;
        margin-top: 25px;
    }

    .sec2 .insurance{
        width: 100%;
        height: 53vh;
        border-radius: 15px;
        margin-top: 25px;
    }

    /* second div  */

    .sec2 .visa{
        width: 100%;
        height: 53vh;
        border-radius: 15px;
        /* margin-top: 25px; */
    }

    .sec2 .hotel{
        width: 100%;
        height: 53vh;
        border-radius: 15px;
        margin-top: 25px;
    }

    .sec2 .con{
        width: 100%;
        height: 53vh;
        border-radius: 15px;
        margin-top: 25px;
    }

    /* section 3 tour Packages */

    .sec3 h6{
        font-size: 30px;
    }
    
    .sec3 .pack{
        flex-direction: column;
    }

    .sec3 #rate{
        width: 100%;
    }

    .sec3 #rate2{
        width: 100%;
    }

    .sec3 #rate h1{
        font-size: 30px;
        margin-top: 50px;
    }

    .sec3 #rate h2{
        font-size: 25px;
    }

    .sec3 #rate h3{
        font-size: 18px;
    }


    .sec3 #rate2 h1{
        font-size: 30px;
        margin-top: 50px;
    }

    .sec3 #rate2 h2{
        font-size: 25px;
    }

    .sec3 #rate2 h3{
        font-size: 18px;
    }

    

    /* special offer section */

    .sec4 h1{
        font-size: 27px;
    }

    .sec4 .special{
        flex-direction: column;
    }

    .sec4 .special2{
        flex-direction: column;
        margin-top: 15px;
    }
    .sec4 .mal{
        width: 100%;
        margin-top: 20px;
        height: 50vh;
    }

    /* testimony  */

    .sec5 h1 {
        font-size: 30px;
    }

    /* .sec5 .testimony{
        flex-direction: column;
    } */

    
    #testimonials button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background: #25d366;
      color: #fff;
      border: none;
      font-size: 2rem;
      padding: 3px 18px;
      border-radius: 50%;
      cursor: pointer;
      transition: background 0.3s;
    }

    #testimonials button:hover {
    background: #1ebe57;
    }

    .prev { left: 20px; }
    .next { right: 20px; }

    .sec5 h2{
        font-size: 20px;
    }

    footer h1{
        font-size: 13px;
    }

    footer p{
        font-size: 15px;
    }


    /* darkmode edit for all text  */

body.dark-mode .sec2 h1{
    color: white;
}

body.dark-mode .sec2 .holi h2{
    color: black;
}

body.dark-mode .sec2 .holi p{
    color: black;
}

body.dark-mode .sec2 .vis h2{
    color: black;
}

body.dark-mode .sec2 .vis p{
    color: black;
}

body.dark-mode .sec4  .special h2{
    color: black;
}

body.dark-mode .sec4  .special h3{
    color: black;
}

body.dark-mode .sec4  .special h4{
    color: black;
}

body.dark-mode .sec4  .special2 h2{
    color: black;
}

body.dark-mode .sec4  .special2 h3{
    color: black;
}

body.dark-mode .sec4  .special2 h4{
    color: black;
}

body.dark-mode #menuIcon {
    color: #ffffff;
}








    



}
